*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding-top: 140px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 0 30px;
}
.result {
  display: flex;
  flex-direction: column;
}
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button {
  border: solid 1px white;
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: rgba(84, 80, 80, 1);
}
button:focus {
  outline: none;
}
button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
  color: white;
}
.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  min-height: 34px;
}
.more-button {
  width: 390px;
  min-height: 34px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.search-form__checkbox-list {
  display: flex;
  gap: 30px;
  width: fit-content;
}
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__textfield {
  border: none;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: 1px solid transparent;
}
.search-form__label:has(.search-form__textfield:focus-visible) {
  border-color: #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(255, 255, 255, 0.1);
}
.content__card-link {
  color: #fff;
  text-decoration: none;
}
.content__video-card-title {
  display: -webkit-box;
  overflow: hidden;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
}
